<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body bgcolor="#4a7378">
    <br><br><br><br>
    <p style="margin: auto;
    top: 50%;" >
    <pre style="text-align: center;
        padding: 20px;
        overflow: auto;
        width: 650px;
        height: 240px;
        background-color:#559ba3
    "> {{ .ErrStatusInt}}-{{ .ErrStatusString}}</pre>
    </p>
</body>
</html>