<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная страница</title>
    <link
      rel="stylesheet"
      href="https://theme-park.dev/css/base/gitea/hotpink.css"
    />
  </head>
  <body>
    <div class="d-flex h-100 text-center text-white bg-dark">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
          <div>
            <h3 class="float-md-start mb-0">Ascii-art-web</h3>
          </div>
        </header>
        <main class="px-3">
          <h1>Enter the text</h1>
          <form method="post" action="/asciiArt/">
            <textarea name="text" cols="30" rows="10"></textarea>
            <select name="style">
              <option value="standard">Standard</option>
              <option value="shadow">Shadow</option>
              <option value="thinkertoy">Thinkertoy</option>
            </select>
            <button type="submit">Submit</button>  
          </form>
          <p class="lead"></p>
        </main>
        <footer class="mt-auto text-white-50"></footer>
      </div>
    </div>
      <pre style="
      padding: 20px;
      overflow: auto;
      width: 650px;
      height: 140px;
      background-color: #184da3;
    ">{{ .Message}}</pre>
  </body>
</html>